%color-gradient
{
     color:linear-gradient(0deg,(147,86,220,.9),(255,121,218,.9));

}


%shadow-animation
{
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    

    &:hover 
        {
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        cursor:pointer; }
    }


%flex-row-center
{
    display:flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;

}

%BoutonType
{
width:50%;
z-index:10;

margin-left:auto;
margin-right:auto;
border-top-left-radius:50px;
border-top-right-radius:50px;
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
height:50px;
color:white;
background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
border:none;
font-size:18px;
@extend %shadow-animation;

}

@keyframes fadein{
    0% {
        opacity:0;
        z-index:999;
    }

50% {
        opacity:0;
        z-index:999;
    }

    80% {
        opacity:0;
        z-index:999;
    }

    90% {
        opacity:0.5;
        z-index:999;
    }


    100% {
        opacity:1;
        z-index:0;
    
    }
}





@keyframes fadeout {
    0% {
        opacity:1;
        z-index:999;
    }

50% {
        opacity:1;
        z-index:999;
    }

    95% {
        opacity:0.5;
        z-index:999;
    }

    98% {
        opacity:0.2;
        z-index:999;
    }


    100% {
        opacity:0;
        z-index:0;
    
    }
}



                                            /*Loader*/

.wrapper
{
animation: fadeout 5s;
-moz-animation: fadeout 5; /* Firefox */
-webkit-animation: fadeout  5s; /* Safari et Chrome */
-o-animation: fadeout 5s; /* Opera */    
                                                
}


                                            




.wrapper{
    width: 100%;
    height: 100%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    z-index:0;
    opacity:0;
    background:linear-gradient(0deg,rgba(147,86,220,1),rgba(255,121,218,1));
    pointer-events: none
    
    
  }
  
  .loader{
    position: relative;
    width: 40%;
    
    &:before{
      content: "";
      padding-top: 100%;
      display: block;
    }
    
    &__animated{
      clip-path: inset(100% 0 0 0);
      animation: loader 3s ease-in infinite;
    }
    
    img{
      width: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index:0;
    }
  }
  
  @keyframes loader{
    0%{
     clip-path: inset(100% 0 0 0);
     
    }
    50%{
     clip-path: inset(0 0 0 0);
    }
    100%{
     clip-path: inset(100% 0 0 0 0);
     
    }
    }
   



.imgheader
{
    margin:auto;
    width:30%;
    height:40px;
    display:block;
    margin-top:20px;
    object-fit:scale-down;
}

body
{
width:auto;
height:auto;
margin:0;
font-family: 'Roboto', sans-serif;

}

header
{
display:flex;
flex-direction:row;
}

.back
{
top:5px;
width:30%;
margin-top:30px;
margin-left:30px;
font-size:20px;
color:black;
z-index:1;
}

a
{
text-decoration:none;
color:black;
z-index:1;
}



.search-container
{
width:100%;
margin-top:20px;
padding-bottom:60px;
height:auto;
margin-left:0px;
margin-right:0px;
background-color:#e0dcdc57;
text-align:center;

}

.search
{
text-align:center;
width:100%;
height:50px;
background-color:rgba(221, 221, 221, 0.589);
border-left:none;
border-top-color:grey;
border-top-width:2px;

}



.fa-map-marker-alt

{
   margin-top:18px;
}
.search-title
{
width:80%;
margin-left:auto;
margin-right:auto;
font-size:30px;

}

.search-instruction
{

margin-left:auto;
margin-right:auto;
font-size:20px;
color:rgb(117, 116, 116);
}

.search-button
{
@extend %BoutonType;

}

button
{
z-index:10;
}
.fonctionnement
{
width:100%;
display:flex;
flex-direction:column;
z-index:15;
}

.fonc
{
width:auto;
margin-top:50px;
height:auto;
padding-left:40px;
z-index:15;
}


ol {
width:auto;
counter-reset: tache;
line-height:40px;
margin-top:20px;
padding-right:30px;

} /* on initialise et nomme un compteur */
.task {
	list-style-type: none;
	counter-increment: tache; /* on incrémente le compteur à chaque nouveau li */
    margin-bottom: 10px;
    border: solid 1px black;
    width:100%;
    border-radius: 15px 15px 15px 15px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#e0dcdc57;
    @extend %shadow-animation;
   

    &:hover
    {

        background-color:rgba(209, 142, 248, 0.103);
        .fa-mobile{color:purple;}
        .fa-list-ul{color:purple;}
        .fa-store{color:purple;}

    }


}
.task:before {
	content: counter(tache); /* on affiche le compteur */
    padding: 6px  8px 7px ;;
    
    margin-right: 12px;
    margin-left:-10px;
	vertical-align: middle;
	background-color:#9356dc;
	border-radius: 100%;
	font-weight: bold;
	font-size: 12px;
    color: white;
}

.fa-mobile
{
    color:grey;
    font-size:20px;
    padding-right:10px;


}

.fa-list-ul
{
   @extend .fa-mobile;

}

.fa-store
{
    @extend .fa-mobile;

}


.restaurants
{
@extend .fonctionnement;

height:auto;
margin-top:50px;
height:auto;
background-color:#e0dcdc57;
z-index:1;
padding-bottom:30px;
}

.rest
{
@extend .fonc;

}


.container
{
width:85%;
height:280px;
border:1px solid black;
border-radius: 15px 15px 15px 15px;
line-height:5px;
margin:auto;
background:rgb(255, 255, 255);
z-index: 10;
margin-top:20px;
margin-bottom:20px;
@extend %shadow-animation;


}


.container-photo
{
width:100%;
height:200px;

}
.photo-restau
{
object-fit: cover;
width:100%;
height:200px;
border-top-left-radius: 15px;
border-top-right-radius:15px;
}


.etiquette
{
    
    padding:5px;
    background-color: #99E2D0;
    position:relative;
    top:-90%;
    right:-75%;
    color:rgb(2, 129, 87);
    font-weight: bold;
}
.descript-restau
{
margin-left:15px;

    
}

.blank
{
float:right;
margin-top:-40px;
position:relative;;
margin-right:50px;
font-size:23px;
display:block;
background:black;
    -webkit-background-clip:text;
    background-clip: text;
    color:transparent;
    display:block;
    opacity:1;
    border:none;

&:hover
{opacity:0;
    color:transparent;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    display:none;
}
    

}

.checked
{
    float:right;
    margin-top:-41.5px;
    position:relative;;
    margin-right:49px;
    font-size:25px;
    background-image: linear-gradient(0deg,rgba(147,86,220,1),rgba(255,121,218,1));
    -webkit-background-clip:text;
    background-clip: text;
    color:transparent;
    display:none;
    opacity:0;
    border:none;
    &:hover
    {
        opacity:initial;
        display:block;

        
        
        
         
    }
    
}

.footer_container
{
    
    margin:auto;
    position:relative;
    background:rgba(24, 24, 24, 0.897);
    padding-top:20px;
    padding-bottom:20px;
    
}

.logofooter
{
width:50px;  
margin-left:40px;
font-family: 'Shrikhand', cursive;
color:white;
}

.footer_list
{

    list-style-type: none;
}

.footer_link
{
text-decoration:none;
color:white;
}

.ico
{
padding-right:10px;

}

.fa-hands-helping
{
    padding-right:3px;
}




                                /*page-restau*/


.fond-restau
{
    width:100%;
    height:250px;
    object-fit: cover;
    
}

.illustration-container
{
    width:100%;
    height:250px;
    object-fit: cover;
    
}

.menus
{
@extend %flex-row-center;
position:relative;

height:auto;
border-top-left-radius: 25px;
border-top-right-radius:25px;
margin-top:-25px;
background-color:#f3f3f3;
z-index:10;
padding-bottom:30px;
}



.love
{
position:relative;
font-size:25px;
width:10%;
text-align:center;
margin-top:auto;
margin-bottom:auto;
margin-left:10px;
}

.nom-restau
{
    width:100%;
    font-size: 12px;;
    font-family: 'Shrikhand', cursive;
    
    display:flex;
    flex-direction:row;
    
}


.nom
{
margin-left:25px;

}


.menu-entree
{
margin-top:40px;  
margin-left:25px;
animation: fadein 5.5s;
-moz-animation: fadein 5.5s; /* Firefox */
-webkit-animation: fadein 5.5s; /* Safari et Chrome */
-o-animation: fadein 5.5s; /* Opera */   
font-size:18px;
font-weight:400;
}

.menu-plat
{
margin-top:40px;  
margin-left:25px;
animation: fadein 7.5s;
-moz-animation: fadein 7.5s; /* Firefox */
-webkit-animation: fadein 7.5s; /* Safari et Chrome */
-o-animation: fadein 7.5s; /* Opera */
font-size:18px;   
font-weight:400;
}

.menu-dessert
{
margin-top:40px;  
margin-left:25px;
animation: fadein 9.5s;
-moz-animation: fadein 9.5s; /* Firefox */
-webkit-animation: fadein 9.5s; /* Safari et Chrome */
-o-animation: fadein 9.5s; /* Opera */  
font-size:18px; 
font-weight:400;
}


.barre-entree
{
width:12%;
border-top:3px solid #99E2D0;
margin-left:25px;
margin-top:-10px;
animation: fadein 5.5s;
-moz-animation: fadein 5.5s; /* Firefox */
-webkit-animation: fadein 5.5s; /* Safari et Chrome */
-o-animation: fadein 5.5s; /* Opera */
}


.barre-plat
{
width:12%;
border-top:3px solid #99E2D0;
margin-left:25px;
margin-top:-10px;
animation: fadein 7.5s;
-moz-animation: fadein 7.5s; /* Firefox */
-webkit-animation: fadein 7.5s; /* Safari et Chrome */
-o-animation: fadein 7.5s; /* Opera */
}

.barre-dessert
{
width:12%;
border-top:3px solid #99E2D0;
margin-left:25px;
margin-top:-10px;
animation: fadein 9.5s;
-moz-animation: fadein 9.5s; /* Firefox */
-webkit-animation: fadein 9.5s; /* Safari et Chrome */
-o-animation: fadein 9.5s; /* Opera */ 
}
.choix
{
    display:flex;
    flex-direction:row;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    line-height:20px;
    border-radius:15px;
    height:auto;
    width:90%;
    margin-top:10px;
    @extend %shadow-animation;
 


        &:hover{   
            .anim-choix{
            width:100%;
            
            opacity:initial;
            transition-duration: 0.5s;
                    }
          .descriptif{
              width:60%;
          }
          .prix{
              width:20%;
          }
                }


            
}
        
.numero1
{
    animation: fadein 6s;
    -moz-animation: fadein 6s; /* Firefox */
    -webkit-animation: fadein 6s; /* Safari et Chrome */
    -o-animation: fadein 6s; /* Opera */   
}

.numero2
{
    animation: fadein 6.5s;
    -moz-animation: fadein 6.5s; /* Firefox */
    -webkit-animation: fadein 6.5s; /* Safari et Chrome */
    -o-animation: fadein 6.5s; /* Opera */   
}


.numero3
{
    animation: fadein 7s;
    -moz-animation: fadein 7s; /* Firefox */
    -webkit-animation: fadein  7s; /* Safari et Chrome */
    -o-animation: fadein 7s; /* Opera */    
}

.numero3b
{
    animation: fadein 7.2s;
    -moz-animation: fadein 7.2s; /* Firefox */
    -webkit-animation: fadein  7.2s; /* Safari et Chrome */
    -o-animation: fadein 7.2s; /* Opera */    
}

.numero4
{
    animation: fadein 8s;
    -moz-animation: fadein 8s; /* Firefox */
    -webkit-animation: fadein  8s; /* Safari et Chrome */
    -o-animation: fadein 8s; /* Opera */    
}

.numero5
{
    animation: fadein 8.5s;
    -moz-animation: fadein 8.5s; /* Firefox */
    -webkit-animation: fadein  8.5s; /* Safari et Chrome */
    -o-animation: fadein 8.5s; /* Opera */    
}

.numero6
{
    animation: fadein 9s;
    -moz-animation: fadein 9s; /* Firefox */
    -webkit-animation: fadein  9s; /* Safari et Chrome */
    -o-animation: fadein 9s; /* Opera */    
}

.numero7
{
    animation: fadein 10s;
    -moz-animation: fadein 10s; /* Firefox */
    -webkit-animation: fadein  10s; /* Safari et Chrome */
    -o-animation: fadein 10s; /* Opera */    
}

.numero8
{
    animation: fadein 10.5s;
    -moz-animation: fadein 10.5s; /* Firefox */
    -webkit-animation: fadein  10.5s; /* Safari et Chrome */
    -o-animation: fadein 10.5s; /* Opera */    
}


.numero9
{
    animation: fadein 11s;
    -moz-animation: fadein 11s; /* Firefox */
    -webkit-animation: fadein  11s; /* Safari et Chrome */
    -o-animation: fadein 11s; /* Opera */    
}



.check-circle
{
    transform:rotate(360deg);
    transition-duration:0.5s;
    
}

.descriptif
{
    width:80%;
}

.prix
{


margin-right:0;
margin-left:auto;
display:flex;
flex-direction:row;
width:10%;

}


.prix p
{
    margin-right:5px;
}
.anim-choix
{

width:10%;
opacity:0;
background:#99E2D0;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
text-align:center;



}

.check-circle
{
color:white;
background-color:#99E2D0;
margin-top:15px;
font-size:20px;


}
.plat 

{
padding-left:10px;
width:100%;
margin-top:5px;
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;

margin-bottom:0px;
}

.composition 

{
padding-left:10px;
font-size:12px;
margin-top:-20px;
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;

}

.choix-menu
{
flex-direction:column;

}

.commander
{
@extend %BoutonType;
margin-top:40px;

}